# Base de Datos
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Clima
OPEN_METEO_API_URL=https://api.open-meteo.com/v1/forecast

# Notificaciones
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
WHATSAPP_API_TOKEN=

# Colas y Cron
INNGEST_EVENT_KEY=
